body{
    background-color: black;
}

h1{
    text-align: center;
    color: white;
}

h5{
    color: white;
    font-size: 20px;
}

.altcontainer{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.background{
    background-color: red;
    padding-left: 2rem;
    padding-right: 2rem;
}

.container{
    img{
        width: 10rem;
        height: 6rem;
    }
}



.cart{
 display: grid;
 grid-template-columns: repeat(2,1fr);
    .mycartyemek{
       grid-column-start: 1;
       grid-column-end: 2;
      .cartyemek{
        display: flex;
        gap: 4rem;
      }
    }
    .cartnumber{
        display: flex;
        flex-direction: column;
        grid-column-start: 2;
        grid-column-end: 3;
      
    }
}