.tablecontainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    .me{
        text-align: center;
    }

    .masa{
        border: 2px solid white;
        margin-top: 2rem;
        gap: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        min-height: 400px;
    }

    .masadiv{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
    }

    ul{
        margin-left: auto;
        margin-right: auto;
        list-style: circle;
    }

    li{
        color: white;
        font-size: 1.5rem;
    }
}